html {
  overflow: hidden;
  background: #222;
  color: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1vw;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 80vw;
  height: 40vw;
  * {
    position: absolute;
  }
}

#book {
  width: 80vw;
  height: 40vw;
  filter: drop-shadow(0 0 1vw #000) drop-shadow(1vw 1vw 2vw #000);
  transition: 2s transform;
  .c0 & {
    transform: translate(-25%,15%) rotate(-20deg);
  }
  .c99 & {
    transform: rotate(-15deg);
  }
}

canvas {
  right: 0;
  top: 0;
  width: 80vw;
  height: 40vw;
  image-rendering: pixelated;
  will-change: filter;
  &.cha {
    filter: brightness(0.1);
    transition: 1.5s ease-in filter;
  }
  &.page {
    width: calc(40vw + 1px);
    will-change: transform, width;
  }
}

#life {
  right: 1em;
  bottom: .5em;
  color: #C00;
  b {
    position: static;
    color: #0004;
  }
}

#De { /* Dash energy */
  left: 1em;
  bottom: 1em;
  padding: 2px;
  width: 150px;
  height: 14px;
  border-radius: 1em;
  background: #0007;
  opacity: 0;
  transition: 1s;
  b {
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: var(--v);
    height: min(14px, var(--v));
    border-radius: 1em;
    background: linear-gradient(21.314deg in hsl longer hue, red, red, red);
    background-size: 200px 78px;
    animation: 8s linear infinite De;
  }
}
@keyframes De {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -78px;
  }
}

#rt { /* Retry button */
  bottom: 200vh;
  right: 5em;
  color: #000;
  font: 2em cursive;
  text-decoration: underline;
  cursor: pointer;
  opacity: 0;
  transition: 9s 2s opacity;
  .c99 & {
    bottom: 4em;
    opacity: 1;
  }
}

#dbg {
  background: #0007;
  padding: .5em 1em;
  position: fixed;
  left: 1em;
  bottom: 1em;
}

#qlt {
  position: absolute;
  right: 0;
  bottom: -3em;
}
