html {
  overflow: hidden;
  background: #222;
  color: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1vw;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 80vw;
  height: 40vw;
  * {
    position: absolute;
  }
}

#book {
  width: 80vw;
  height: 40vw;
  filter: drop-shadow(0 0 1vw #000) drop-shadow(1vw 1vw 2vw #000);
}

canvas {
  right: 0;
  top: 0;
  width: 80vw;
  height: 40vw;
  image-rendering: pixelated;
  will-change: filter;
  &.cha {
    filter: brightness(0.1);
    transition: 1.5s ease-in filter;
  }
  &.page {
    width: calc(40vw + 1px);
    will-change: transform, width;
  }
}

#life {
  right: 1em;
  bottom: .5em;
  color: #C00;
  b {
    position: static;
    color: #0004;
  }
}

#dbg {
  background: #0007;
  padding: .5em 1em;
  position: fixed;
  left: 1em;
  bottom: 1em;
}

#qlt {
  position: absolute;
  right: 0;
  bottom: -3em;
}
